*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gradient {
  background-image: linear-gradient(
    180deg,
    hsl(240deg 23% 33%) 0%,
    hsl(240deg 26% 33%) 8%,
    hsl(240deg 28% 33%) 17%,
    hsl(239deg 31% 32%) 25%,
    hsl(239deg 34% 32%) 33%,
    hsl(239deg 37% 31%) 42%,
    hsl(238deg 41% 31%) 50%,
    hsl(238deg 44% 31%) 58%,
    hsl(237deg 48% 30%) 67%,
    hsl(236deg 52% 29%) 75%,
    hsl(235deg 57% 29%) 83%,
    hsl(234deg 63% 28%) 92%,
    hsl(233deg 70% 27%) 100%
  );
}

.container{
    width: 100%;
    display: flex;
    height: 100dvh;
}

.header-menu{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 0 40px;
}

ul, ol {
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--color-light);
    font-weight: 600;
}

a:hover{
    color: var(--color-pink);
    transition: .7s;
}

.header-menu ul{
    display: flex;
    gap: 50px;
    margin: 35px;
}


.icone{
    height: 50px;
    width: 50px;
    margin: 25px;
    margin-left: 20px;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
